@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
        --color-primary: 0, 0, 0;
        --color-secondary: 0, 0, 0;
        --color-hint: 0, 0, 0;
    }
}

*, body {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}